.logo {
  position: absolute;
  height: 5%;
  padding-left: 0.5%;
  padding-bottom: 0.5%;
}

header {
 text-align: center;
}

h1{
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: xx-large;
  color: #2A2A2A;
  text-transform: uppercase;
}

body {
  background-image: url("../images/Smoke\ BG.jpg");
  background-size: cover;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

li {
  float: right;
}

li a {

  display: block;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  text-transform: uppercase;
  
}

li a:hover {
  background-color: #111;
  color: aqua;
}

.subHeading {
text-align: center;
border-bottom: 2px solid black;
width: 300px;
margin:  50px auto;
}

.container {
  width: 40%;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0 10px;
}

img {
  height: 100%;
  width: 100%;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 0.4s ease-in-out;
  background-color: black;
  cursor: pointer;
}

content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}

.categoryGrid:hover .overlay{
opacity: 0.8;
}


footer {
  margin: 0px 0px 0px 0px;
  padding: 15px;
  height: 25px;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 12px;
  text-align: center;
}


@media only screen and (max-width: 1000px) {
  #navigation {
    display: none;
  }
  .icons {
    margin-left: auto;
  }
}

@media only screen and (max-width: 600px) {
  #headline {
    position: static;
    margin: 20px;
  }
  #heroGrid {
    grid-template-areas:
    "uxDesign illustration"
    "branding motionGraphics";
  }
  #categoryGrid {
    grid-template-rows: 300px 300px 300px 300px 300px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "uxDesign"
      "illustration"
      "branding"
      "motionGraphics"
    ;
  }
  
}